version: '3.9'


services:
  mysql:
    image: asafnr567/mysql-db:3.3
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 3s
    networks:
      - knowcars
      
      
  api:
    image: asafnr567/flask-api:2.3
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      DB_HOST: mysql
      DB_PORT: 3306
      CARS_DB: knowCarsDB
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/api/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 3
    networks:
      - knowcars
    ports:
      - "5000:5000"

      
      
networks:
  knowcars:
    driver: bridge
      
    
