@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



/*  HomePage style */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 80%), url("https://images.pexels.com/photos/757185/pexels-photo-757185.jpeg");
    background-size: 100% 800px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
}


.intro h2 {
    font-size: 100px;
    color: #00AEEF;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
}

.intro p {
    font-size: 30px;
    color: #9fafcb;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}


.intro button {
    background-color: #D1112E;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}


.intro button:hover {
    opacity: 0.8;
}


.usages {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    padding: 30px 50px;
    cursor: default;
}


.usages .usage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 10px 0s;
}


.usage-header {
    font-size: 23px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.usage-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-left: 60px;
}



/*  End HomePage style */





/*  AboutPage style */


.background-about {
    background: linear-gradient(rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.4) 80%), url("https://images.pexels.com/photos/3608542/pexels-photo-3608542.jpeg");
    background-size: cover;        /* Makes it cover the full div */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    width: 100vw;                  /* Full width of the viewport */
    height: 100vh;  
}


.about-content-box {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content-box h3 {
    font-family: 'Orbitron', sans-serif;
    color: #00AEEF;
    font-weight: 600;
    font-size: 90px;
    margin-top: 40px;
}


.about-content-box p {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2.3;
    padding: 25px;
    color: white;
}
